{:highlights [{:id #uuid "6516f879-5ee0-4459-8eac-352f5c8a38e7",
               :page 4,
               :position {:bounding {:x1 0,
                                     :y1 0,
                                     :x2 647,
                                     :y2 1009.90625,
                                     :width 646.9999999999999,
                                     :height 499.9545454545454},
                          :rects ({:x1 0,
                                   :y1 0,
                                   :x2 647,
                                   :y2 0,
                                   :width 646.9999999999999,
                                   :height 499.9545454545454}
                                  {:x1 0,
                                   :y1 499.953125,
                                   :x2 647,
                                   :y2 499.953125,
                                   :width 646.9999999999999,
                                   :height 499.9545454545454}
                                  {:x1 0,
                                   :y1 509.953125,
                                   :x2 647,
                                   :y2 1009.90625,
                                   :width 646.9999999999999,
                                   :height 499.9545454545454}),
                          :page 4},
               :content {:text nil},
               :properties {:color "yellow"}}
              {:id #uuid "6516f87f-4b25-4563-a242-bf4d04970d8b",
               :page 5,
               :position {:bounding {:x1 0,
                                     :y1 0,
                                     :x2 647,
                                     :y2 499.953125,
                                     :width 646.9999999999999,
                                     :height 499.9545454545454},
                          :rects ({:x1 0,
                                   :y1 0,
                                   :x2 647,
                                   :y2 0,
                                   :width 646.9999999999999,
                                   :height 499.9545454545454}
                                  {:x1 0,
                                   :y1 499.953125,
                                   :x2 647,
                                   :y2 499.953125,
                                   :width 646.9999999999999,
                                   :height 499.9545454545454}),
                          :page 5},
               :content {:text nil},
               :properties {:color "yellow"}}],
 :extra {:page 9}}
